---
import '../styles/nosotros.css'
import ImageNos from '../assets/cabello-f.png'
import SVG1 from '../assets/001-salon (Traced).svg'
import SVG2 from '../assets/002-shampoo (Traced).svg'
import SVG3 from '../assets/003-hair-cutting (Traced).svg'
import SVG4 from '../assets/005-toiletries (Traced).svg'
---

<section class="nosotros">
    <div class="nos-grid">

        <div class="grid-1">
            <h2>Acerca de <br>Salón de belleza <span style="color:#a67c52">Favlash</span></h2>
            <p>Trabajamos con profesionales altamente capacitadas que te brindaran un servicio excepcional y garantizado. Tu bienestar y satisfacción son nuestra inspiración.</p>
            

                 <div class="sub-grid-1">
                    <div>
                       <img 
                       src={SVG1.src}
                       width="15%"
                       height="15%"
                       alt="svg-vanguardia"
                       /> 
                       <h3>Dominio de Técnicas de Vanguardia</h3>
                        <p style="line-height: 26px;">Nos mantenemos a la vanguardia de las últimas tendencias y técnicas en el mundo de la belleza.</p>
                    </div>

                    <div>
                        <img 
                       src={SVG3.src}
                       width="15%"
                       height="15%"
                       alt="svg-vanguardia"
                       /> 
                        <h3>Atención <br>Personalizada</h3>
                        <p style="line-height: 26px;">Comprendemos tus deseos, ofreciéndote un servicio profesional que garantiza un resultado que supera expectativas.</p>
                    </div>
                 </div>

                 <div class="sub-grid-2">
                    <div>
                        <img 
                       src={SVG2.src}
                       width="15%"
                       height="15%"
                       alt="svg-vanguardia"
                       /> 
                        <h3>Ambiente Exclusivo y Relajante</h3>
                        <p style="line-height: 26px;">Nuestro salón es tu oasis de tranquilidad, un lugar perfecto para desconectar, relajarte y disfrutar.</p>
                    </div>

                    <div>
                        <img 
                       src={SVG4.src}
                       width="15%"
                       height="15%"
                       alt="svg-vanguardia"
                       /> 
                        <h3>Productos Premium y Tecnología Avanzada</h3>
                        <p style="line-height: 26px;">Utilizamos productos de las marcas más reconocidas y seguras del mercado, asegurando la máxima calidad, durabilidad y cuidado.</p>
                    </div>

                 </div>
        </div>


        <div class="grid-2">
     
        </div>

        <div class="img-movil">
            <img 
            src={ImageNos.src}
            width="100%"
            height="100%"
            alt="imagen nosotras"
            />
            </div>
    </div>
</section>